@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: rgba(0, 0, 0, 0.7);
  --color-base2: #022a30;
  --color-brand: #f6f784;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
  /*background-color: var(--color-base2);*/
  width: 100%;
  background-image: url("../images/b5.jpg") !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-blend-mode: darken !important;
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}

.border-pink {
  border-color: #5d3fd3 !important;
}

.text-brand {
  /*color: var(--color-brand);*/
  color: yellow;
}

.bg-base {
  background-color: var(--color-base);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.site-img {
  width: 100px;
  height: 100px;
}
.site-img2 {
  width: 8 0px;
  height: 80px;
}

.full-height-custom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -4px 3px 0 0 var(--color-brand);
}

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: var(--color-brand);
  color: var(--color-base);
}

/* NAVBAR */
.navbar {
  /*background-color: var(--color-base);*/
  background-color: #000 !important;
}

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.navbar .nav-link:hover {
  color: var(--color-brand);
}

.navbar .nav-link.active {
  color: var(--color-brand);
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    padding: 0 -50px !important;
    /*background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg);*/
    background: transparent !important;
    background-size: cover;
    background-position: center;
    /*margin: 30px 0 30px 0;*/
  }

  .navbar-brand img {
    border: 5px solid var(--color-brand);
  }

  /* CONTENT WRAPPER */
  #content-wrapper {
    padding-left: var(--sidbar-width);
  }
}

/* BTN */
.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-base);
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
  cursor: pointer !important;
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  color: var(--color-base);
  border-color: var(--color-brand2);
}

.link-custom {
  font-weight: 700;
  position: relative;
  cursor: pointer !important;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

.s-text {
  font-weight: 700;
  padding: 10px 0;
  position: relative;
}

.s-text::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.s-text::after {
  width: 10%;
}

/* CARD */
.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.6s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

/* CONTACT */
#contact .form-control {
  background-color: var(--color-base);
  border-color: var(--color-base);
  color: var(--color-body);
  transition: all 0.4s ease-in-out !important;
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--color-body);
}

#contact input.form-control {
  height: 44px;
}

/* SOCIAL ICONS */
.social-icons {
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base);
  border-radius: 100px;
  font-size: 24px;
}

.modal-content {
  background: var(--color-base) !important;
}

.modal-content .modal-header button:hover {
  background: darkred !important;
}

.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

/*
*
* ==========================================
    For Skills
* ==========================================
*
*/

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

.bg-theme {
  background: var(--color-base) !important;
}
.carousel-control-next-icon {
  margin-left: 100px !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  color: #0c63e4 !important;
}

.carousel-control-prev-icon {
  margin-right: 100px !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.img-thumbnail {
  border-radius: 0.25rem;
  max-width: 40%;
  height: auto;
}

@media (max-width: 800px) {
  .thumb-lg img {
    width: 20% !important;
  }
}
